.order-container {
    margin: 25px;
    padding: 0px;
    background-color: #fff;
    margin-bottom: 70px;
}

.padding {
    padding: 25px;
}

#map {
    text-align: left;
}

.mapbox-logo, .mapboxgl-ctrl-attrib-inner{
    display: none !important;
}

.change-driver-btn {
    position: absolute;
    right: 20%;
}